
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main_content_div">
    <div class="user_div">
      <div class="first_div">
        <span class="name mt-3">{{myProfile[0]['name']}}</span> <br>
        <span class="idd">{{myProfile[0]['email']}}</span>
  </div>
      <div class="user_back"[style.backgroundImage]="'url(./assets/img/dp.jpg)'">
      </div>
 </div>
 <div class="content_div">
   
  <div class="list_div">
   <ion-item lines="none" routerLink="/edit-profile" detail>
   <ion-label>Edit Profile</ion-label>
  </ion-item>
  </div>

  <div class="list_div">
    <ion-item lines="none" routerLink="/favorites" detail> 
    <ion-label>Favorites Books</ion-label>
  </ion-item>
   </div>

   <div class="list_div">
     <ion-item lines="none" routerLink="/home" detail>
    <ion-label>Log out</ion-label>
    </ion-item>
   </div>
  </div>
</div>
</ion-content>

 

