@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.main_content_div {
    width: 100%;
    .user_div {
        padding: 20px;
        width: 100%;
        height: 260px;
        background: #6f6c9e;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    
    .first_div{
        padding-top: 70px;
    }
    
    .user_back{
        height: 100px;
        width: 80px;
        border: 3px solid white;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 7px;
    }
}
.content_div{
    background: white;
    width: 100%;
    border-top-left-radius: 75px;
    margin-top: -90px;
    padding: 20px;
    padding-top: 30px;
    .list_div {
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        margin-top: 20px;
        padding: 13px;
        ion-label{
            width: 350px;
            font-size: 15px;
            font-family: 'Varela Round', sans-serif;
        }
    }
}
}


.name {
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.idd {
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}