
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
          <button class="btn btn-secondary"> 
          <img src="img src=../../../assets//img/avatar.png" height="100" width="100" />
        </button> 
        <span class="name mt-3">{{myProfile[0]['name']}}</span> 
        <span class="idd">{{myProfile[0]['email']}}</span>
            
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined December 2021</span> </div>
        </div>
    </div>
</div>

 

