<ion-content [fullscreen]="true">
 
  <div id="bg">
  <ion-list lines="none" class="ion-margin ion-text-center">
    <ion-list-header><ion-label>PAHINA</ion-label></ion-list-header>
    <ion-text><p>Read the way you like it.</p></ion-text>
    <ion-button shape="round"  [routerLink]="['/login']" color="medium">Login</ion-button>
    <ion-button shape="round"  [routerLink]="['/signup']" color="medium">Signup</ion-button>

  </ion-list>

  <div id="bg2">
    <img src="assets/img/bg1.png">
  </div>
</div>
</ion-content>